* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1 {
    color: rgb(29, 111, 200);
}

#header-bala {
    background-color: white;
}

.card img {
    height: 400px;
    width: 400px;
    background-color: lightblue;
    padding: 20px;
    margin: 20px;
    color: white;
    width: 450px;
    border-radius: 30px;
    object-fit: cover;
}

.galeria-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
} 
